body {
  padding-top: 20px;
  background-color: #FAFAFA;
  border-top: 5px;
  border-top-style: solid;
  border-top-color: #B21817
}

.post {
  text-align: center;
  float: none;
  margin: auto;
  padding: 40px;
}

.text { 
  font-family: 'Gafata', sans-serif;
  font-weight: 400;
  font-size: 130%;
  line-height: 80%;
}

.image {
  border: 2px;
  border-style: solid;
  border-color: #12C4CF;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  width: 500px;
}

.about {
  text-align: center;
  max-width: 500px;
}

.image-footer {
  padding-bottom: 10px;
  width: 50px;
}

.bold {
  color: #2A757E;
}

.link {
  color: #B21817;
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.credit {
  font-family: 'Gafata', sans-serif;
  font-weight: 400;
  font-size: 110%;
  color: #2A757E;
}

h2 { 
  font-family: 'Gafata', sans-serif;
  font-weight: 400;
  font-size: 250%;
  color: #2A757E;
}

h3 { 
  font-family: 'Gafata', sans-serif;
  font-weight: 400;
  font-size: 200%;
}